/* some style */

html,
body {
    cursor: url(../img/cursor.png) 8 22, auto;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

#grid {
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
}
