/* some style */

html,
body {
    cursor: url(../img/cursor.png) 8 22, auto;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

#grid {
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
}

#overlay {
    background: red;
    cursor: default;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

#overlay input {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
}
